goal: calculate the snp overlap between the ukb main array and the estonian biobank main array

In [37]:
import os
os.getcwd()
os.chdir("/mnt/sdg/robert/deepwidegp/ARD-DeepWideGP/")

In [38]:
os.chdir('/mnt/sdg/robert/deepwidegp/ARD-DeepWideGP')
import pandas as pd

#load the GSA 3.0 (estonian base array)
estonian = pd.read_csv("data/1-inputs/SNP_array_overlap/GSA-24v3-0_A1_estonian_grch37.csv")

/tmp/ipykernel_791703/695994221.py:5: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  estonian = pd.read_csv("data/1-inputs/SNP_array_overlap/GSA-24v3-0_A1_estonian_grch37.csv")

In [40]:
#up here you need to navigate to the folder wit the ukb bim files or it wont' work. 
os.chdir('/mnt/sdg/robert/deepwidegp/ARD-DeepWideGP/data/1-inputs/SNP_array_overlap/ukb_bim')
import glob
import pandas as pd

bim_cols = ["chrom", "snp", "cm", "pos", "a1", "a2"]

bim_files = glob.glob("*.bim")  # adjust path if needed

dfs = []
for f in bim_files:
    df = pd.read_csv(
        f,
        sep=r"\s+",
        header=None,
        names=bim_cols,
        dtype={
            "chrom": str,
            "snp": str,
            "cm": float,
            "pos": int,
            "a1": str,
            "a2": str,
        },
    )
    dfs.append(df)

ukb_bim = pd.concat(dfs, ignore_index=True)
print(len(ukb_bim), "variants in combined BIM")

805426 variants in combined BIM

In [ ]:
#save the ukb bim df to csv
#os.chdir("/mnt/sdg/robert/deepwidegp/ARD-DeepWideGP/")
#ukb_bim.to_csv("data/1-inputs/SNP_array_overlap/UKB_SNP_array.csv", index=False)

In [48]:
ukb_bim_mapping = ukb_bim.copy()
ukb_bim_mapping['chrom:pos'] = ukb_bim_mapping['chrom'] + ':' + ukb_bim_mapping['pos'].astype(str)

estonian_mapping = estonian.copy()
estonian_mapping['chrom:pos'] = estonian_mapping['Chr'].astype(str) + ':' + estonian_mapping['MapInfo'].round(0).astype('Int64').astype(str)

In [ ]:
ukb_bim_mapping.head()

  chrom          snp   cm     pos a1 a2 chrom:pos
0     9  rs202245356  0.0   16967  A  G   9:16967
1     9    rs9407029  0.0   45440  C  A   9:45440
2     9   rs73638076  0.0  113128  T  G  9:113128
3     9    rs4742632  0.0  116832  T  C  9:116832
4     9    rs4742643  0.0  117428  G  C  9:117428

In [49]:
estonian_mapping.head()

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,Intensity_Only,RefStrand,chrom:pos
0,1:103380393-0_B_R_2346041316,1:103380393,BOT,[T/C],9663149.0,AATAAACTTTTATGCAAAACTTGTAAGATAACTCTTCTTTCCTTCT...,NaN,NaN,37.0,1,...,1000genomes,0.0,TOP,GCTTCCCCTTTCTCTCCTCTTTCTCCTTTGGGACCCTAAACAATGT...,GCTTCCCCTTTCTCTCCTCTTTCTCCTTTGGGACCCTAAACAATGT...,1895.0,3.0,0.0,-,1:103380393
1,1:109439680-0_T_F_2348625138,1:109439680,TOP,[A/G],26641362.0,GTTGGGCAATGCTTATTTCTATTTGCATGATTATGCCAAAGCATTA...,NaN,NaN,37.0,1,...,1000genomes,0.0,TOP,TTTACAGCCAGTTGGGCAATGCTTATTTCTATTTGCATGATTATGC...,TTTACAGCCAGTTGGGCAATGCTTATTTCTATTTGCATGATTATGC...,1964.0,3.0,0.0,+,1:109439680
2,ilmnseq_1:110198788-3_B_F_2599938692,1:110198788,BOT,[T/C],5682188.0,TGCTCCCTGAACACTCGGAGGTGGCGGTGGATCTTACTCCTTCCAG...,NaN,NaN,37.0,1,...,1000genomes,3.0,BOT,TTCCGGACCTTGCTCCCTGAACACTCGGAGGTGGCGGTGGATCTTA...,TCAAGGTCGTCACTTCCAACCAACAGGCGCGGGAGGCACGGAGCAG...,2061.0,3.0,0.0,+,1:110198788
3,ilmnseq_1:110201112-3_B_R_2599950325,1:110201112,BOT,[G/C],21701591.0,GCACCTGAGTACCTGGCAGGCTCTGGACCCAGACATGAGCAAAATC...,2642179.0,GCACCTGAGTACCTGGCAGGCTCTGGACCCAGACATGAGCAAAATC...,37.0,1,...,1000genomes,3.0,TOP,TGCCACTGCACTAGGAGGAACTTTCAACTTCTTTCTCTGAGCTCCT...,TGCCACTGCACTAGGAGGAACTTTCAACTTCTTTCTCTGAGCTCCT...,1964.0,3.0,0.0,-,1:110201112
4,ilmnseq_1:110201667-3_B_F_2599938696,1:110201667,BOT,[T/C],79803181.0,TGCAGATCACCTTTGTAGATTTCCTCGCCTATGATGTCCTTGACCT...,NaN,NaN,37.0,1,...,1000genomes,3.0,BOT,CTTGGCCTTCTGCAGATCACCTTTGTAGATTTCCTCGCCTATGATG...,AGCGGGAGATGAAGTCCTTCAGATTTGGAAAGGCGTCCAAGCAGTT...,1964.0,3.0,0.0,+,1:110201667

In [50]:
#find the overlap
overlap = pd.merge(ukb_bim_mapping, estonian_mapping, on='chrom:pos', how='inner')
print(len(overlap), "overlapping variants between UKB and Estonian array")
print(estonian_mapping['chrom:pos'].nunique(), "unqie variants in Estonian array")
print(ukb_bim_mapping['chrom:pos'].nunique(), "unique variants in UKB BIM files")

255303 overlapping variants between UKB and Estonian array
648575 unqie variants in Estonian array
805426 unique variants in UKB BIM files